.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the container's height to 100% of the viewport height */
    padding: 20px;
    box-sizing: border-box;
  }

.gameBox {
    background-color: rgba(255, 255, 243, 0.8); /* Slightly beige background color with transparency */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto; /* Center the box horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    text-align: center; /* Center text horizontally within the box */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); /* Add box shadow for 3D effect */
}

.startButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:rgba(243, 243, 96, 0.7); /* Slightly beige background color with transparency */
    color: #000; /* Black text color */
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .startButton:hover {
    background-color:  rgb(226, 226, 126);/* Slightly darker beige color on hover */
  }

  .logoutButton {
    display: block;
    margin: 5px auto;
    padding: 10px 15px;
    background-color: rgba(245, 245, 220, 0.8); /* Same color as the login form background with opacity */
    border: 2px solid rgba(243, 243, 96, 0.7);/* Yellowish border */
    border-radius: 20px; /* Rounded corners */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .logoutButton:hover {
    background-color:  rgb(226, 226, 126);
    border-color:  rgb(226, 226, 126);
    color: rgb(0, 0, 0); /* Black text color on hover */
  }

  .submitButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:rgba(243, 243, 96, 0.7); /* Slightly beige background color with transparency */
    color: #000; /* Black text color */
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .submitButton:hover {
    background-color:  rgb(226, 226, 126);/* Slightly darker beige color on hover */
  }

  input[name="submitGuess"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Add some border-radius to make them slightly rounded */
    outline: none;
  }

  .logoutButtonPlacement {
    position: absolute;
    top: 10px; /* Adjust the top value to set the vertical position */
    right: 10px; /* Adjust the right value to set the horizontal position */
  }